# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pag
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.xdv

# Beamer auxiliary files
*.nav
*.snm
*.vrb

# Minted caches
_minted*/
*.pyg
*.pygstyle

# Generated reports and presentations
/build/
/report/vkr.pdf
/report/talk.pdf
/presentations/talk.pdf

# Editor files and backups
.idea
*.iml
*.txss2
*.code-workspace
*.bak
*.backup
*~
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
